#post_show
	%h1= @post.position
	%p.username
		Post by
		= @post.user.name
		about
		= time_ago_in_words(@post.created_at)
	.clearfix
		.post_image_description
			= image_tag @post.image.url(:medium)
			%h4 BREIF HISTORY
			.description= simple_format(@post.breifHistory)
			%h4 EDUCATION
			.description= simple_format(@post.education)
			%h4 POLITICAL ACHIEVEMENTS
			.description= simple_format(@post.achievments)
			%h4 FUTURE GOALS
			.description= simple_format(@post.goals)
		.post_data
			=link_to  "Go home", root_path, class: 'button'
			=link_to like_post_path(@post), method: :get, class: "data" do 
				%i.fa.fa-thumbs-o-up
				=pluralize(@post.get_upvotes.size, "Upvotes")
			=link_to dislike_post_path(@post), method: :get, class: "data" do 
				%i.fa.fa-thumbs-o-down
				=pluralize(@post.get_downvotes.size, "downvotes")
			%p.data
				%i.fa.fa-comments-o
				=pluralize(@post.comments.count, "Comment")
			- if @post.user == current_user
				=link_to "Edit", edit_post_path(@post), class: "data"
				=link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "data"
			%br	
			%hr
			%br 
			= social_share_button_tag(@post.position, 'data-twitter-title' => 'TheTitleForTwitter') 



#comments
	%h2.comment_count= pluralize(@post.comments.count, "Comment")
	- @comments.each do |comment|
		.comment
			%p.username= comment.user.name
			%p.content= comment.content
	= render "comments/form"
